[submodule "models/face_restorer/CodeFormer"]
	path = models/face_restorer/CodeFormer
	url = https://github.com/sczhou/CodeFormer.git
[submodule "exllamav2"]
	path = exllamav2
	url = https://github.com/turboderp/exllamav2.git
